@font-face {
    font-family: 'daydream';
    src:  url("new/depixel/DePixelSchmal.ttf");
}

@font-face {
    font-family: 'MDIO'; /*a name to be used later*/
    src: url('fonts/MDIOTrial-Medium.otf'); /*URL to font*/
}

@font-face {
    font-family: 'MDIO'; /*a name to be used later*/
    src: url('fonts/MDIOTrial-Bold.otf'); /*URL to font*/
    font-weight: bold;
}

@font-face {
    font-family: 'MDIO'; /*a name to be used later*/
    src: url('fonts/MDIOTrial-MediumItalic.otf'); /*URL to font*/
    font-style: italic;
}

@font-face {
    font-family: 'MDIO'; /*a name to be used later*/
    src: url('fonts/MDIOTrial-BoldItalic.otf'); /*URL to font*/
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MAC'; /*a name to be used later*/
    src: url('fonts/AnonymousPro-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'MAC'; /*a name to be used later*/
    src: url('fonts/AnonymousPro-Bold.ttf'); /*URL to font*/
    font-weight: bold;
}

hr{ 
  
     
}

.vhr{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;    
}

a{
    color: #3c4451;
}

a:hover{
    color: #d96735;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    color: #111111;
    text-align: left;
    height: 50px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-bottom:  1px solid #3c4451;
    font-size: 15px;
    padding-left: 0px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  width: 100%;

}

nav ul li {
  margin: 0 1rem;
}


nav ul li a {
  text-decoration: none;
}

body {
    /*font: normal 13px daydream, Verdana, Arial, sans-serif;*/
    font-family: 'MDIO';
    background-image: url("bg.png");
    background-repeat: repeat-xy;
    background-position: 0 0;
     margin: 0;
     padding: 0;
     color: #3c4451;
}

.colorStyle {
    background-color: rgba(255, 247, 235, 0.9);
    backdrop-filter: blur(5px);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input, select {
  width: 100%;
  padding: 5px 10px;
  margin: 0px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*
body {
  font-family: MDIO, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #5f427a;
  color: #333;
}
*/

.clear{
    clear: both;
    padding:0px;
    margin:0px;
}

.boxBorder{
    overflow: hidden;
    border: 1px solid #007f87;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
}

.textBox{
    background-color: rgba(200, 200, 200, 0.25);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}