@font-face {
    font-family: 'daydream';
    src:  url("new/depixel/DePixelSchmal.ttf");
}

@font-face {
    font-family: 'MDIO'; /*a name to be used later*/
    src: url('fonts/MDIOTrial-Medium.otf'); /*URL to font*/
}

@font-face {
    font-family: 'MDIO'; /*a name to be used later*/
    src: url('fonts/MDIOTrial-Bold.otf'); /*URL to font*/
    font-weight: bold;
}

@font-face {
    font-family: 'MDIO'; /*a name to be used later*/
    src: url('fonts/MDIOTrial-MediumItalic.otf'); /*URL to font*/
    font-style: italic;
}

@font-face {
    font-family: 'MDIO'; /*a name to be used later*/
    src: url('fonts/MDIOTrial-BoldItalic.otf'); /*URL to font*/
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MAC'; /*a name to be used later*/
    src: url('fonts/AnonymousPro-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'MAC'; /*a name to be used later*/
    src: url('fonts/AnonymousPro-Bold.ttf'); /*URL to font*/
    font-weight: bold;
}

/* top | right | bottom | left */

:root{
    --color-bg:             233, 245, 238;
    --color-primary:        136, 179, 120;
    --color-secondary:      161, 196, 168;
    --color-accent:         200, 227, 212;
    --color-text:           47, 62, 47;
    --color-muted:          111,125,111;
}

.vhr{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;    
}

a{
    color: #3c4451;
    text-decoration: none;
}

a:hover{
    color: #d96735;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
    height:80px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    border-bottom: 1px solid black;

    color: rgb(var(--color-text));
    background-color: rgba(var(--color-primary), 0.9);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  width: 100%;
}

nav ul li {
  margin: 0 1rem;
}


nav ul li a {
  text-decoration: none;
}

body {
    /*font: normal 13px daydream, Verdana, Arial, sans-serif;*/
    font-family: 'MDIO';
    /*background-image: url("bg.png");*/
    background-repeat: repeat-xy;
    background-position: 0 0;
    margin: 0;
    padding: 0;

    color: rgb(var(--color-text));
}

.navbox{
    margin: 50px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input, select {
  width: 100%;
  padding: 5px 10px;
  margin: 0px 10px;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.clear{
    clear: both;
    padding:0px;
    margin:0px;
}

.gameBackground{
    background-color: rgba(var(--color-secondary), 1);
    padding: 20px;
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid black;
}

.gameBorder{
    overflow: hidden;
    border: 1px solid #FF0000;
    /*border-radius: 10px;*/
    border-radius: 0px;
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);*/
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
}

.boxBorder{
    overflow: hidden;
    border-top: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
}

.colorStyle {
    background-color: rgba(var(--color-bg), 1);
    backdrop-filter: blur(5px);
}

.textBox{
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: inset -5px -5px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
    text-align: left;
    max-width: 1280px;
    margin: auto;
}

.section-underline {
  border: none;
  height: 2px;
  background-color: rgba(var(--color-accent), 0.4);
  width: 1000px;
  margin: 0 auto 2em;
  border-radius: 1px;
}


