@font-face {
    font-family: 'daydream';
    src:  url("Vanilla Caramel.otf");
}

hr{ 
  
     
}

.vhr{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;    
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    color: #111111;
    background-color: #eeece5;
    text-align: left;
    height: 24px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    padding-left: 0px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  width: 100%;

}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
}

body {
    /*font: normal 13px daydream, Verdana, Arial, sans-serif;*/
    font-family: 'daydream';
    /*background-image: url("bg.png");*/
    background-repeat: repeat-xy;
    background-position: 0 0;
     margin: 0;
     padding: 0;
     color: #333;
}

/*
body {
  font-family: MDIO, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #5f427a;
  color: #333;
}
*/

.gameBorder{
    overflow: hidden;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    height: 720px;
    background-color: rgba(247, 247, 247, 1);
    /*Kind of fixes border issue thing background-color: rgba(0, 0, 0, 0.2);*/
}